[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter \
  --collector.systemd \
  --collector.processes \
  --collector.filesystem.mount-points-exclude="^/(dev|proc|sys|var/lib/docker/.+)($|/)"
{% if ansible_facts['virtualization_type'] != 'lxc' %}
ExecStart=/usr/local/bin/node_exporter \
  --collector.zfs
{% endif %}

[Install]
WantedBy=multi-user.target